
// styles/element/index.scss
/* 只需要重写你需要的即可 */
//@forward 'element-plus/theme-chalk/src/common/var.scss' with (
//  $colors: (
//    'primary': (
//      'base': green,
//    ),
//  ),
//);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
 @use "element-plus/theme-chalk/src/index.scss" as *;

:root{
    --el-color-primary: #409eff;
    --el-color-primary-light-1: #53a8ff;
    --el-color-primary-light-2: #66b1ff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-4: #8cc5ff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-6: #b3d8ff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc
}
